<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.damgame">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity android:name="dam.gala.damgame.activities.RankingActivity"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name="dam.gala.damgame.activities.LoginActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dam.gala.damgame.activities.SettingsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name="dam.gala.damgame.activities.GameActivity"
            android:screenOrientation="landscape"></activity>
    </application>

</manifest>